# Ignore Other
*.htm
.ipynb_checkpoints
.idea

# Ignore Logs
*.log

# Ignore Simulink Files
*.autosave
*.asv
*.slxc
*\.hbs
*\.Xil
*\hdl_prj
*\slprj
*\wavedata
*\netlist

# Ignore Vivado Files
*.jou
*vivado.txt
*vivado.jou
*vivado.log

# Ignore the block design
**/block_design
